<h1>Create a Team and Heroes!</h1>
<form action="/teams" method="POST">
  <label for="team[name]">Team Name:</label>
  <input id="team[name]" type="text" name="team[name]" />
  <label for="team[motto]">Team Motto:</label>
  <input id="team[motto]" type="text" name="team[motto]" />
  
  <h2>Hero 1</h2>
<<<<<<< HEAD
  <label for="member1_name">Hero's Name:</label>
  <input id="member1_name" type="text" name="team[members][][name]" />
  <label for="member1_power">Hero's Power:</label>
  <input id="member1_power" type="text" name="team[members][][power]" /> 
  <label for="member1_bio">Hero's Biography:</label>
  <input id="member1_bio" type="text" name="team[members][][bio]" />
  
  <h3>Hero 2</h3>
  <label for="member2_name">Hero's Name:</label>
  <input id="member2_name" type="text" name="team[members][][name]" />
  <label for="member2_power">Hero's Power:</label>
  <input id="member2_power" type="text" name="team[members][][power]" /> 
  <label for="member2_bio">Hero's Biography:</label>
  <input id="member2_bio" type="text" name="team[members][][bio]" />
  
  <h4>Hero 3</h4>
  <label for="member3_name">Hero's Name:</label>
  <input id="member3_name" type="text" name="team[members][][name]" />
  <label for="member3_power">Hero's Power:</label>
  <input id="member3_power" type="text" name="team[members][][power]" /> 
  <label for="member3_bio">Hero's Biography:</label>
  <input id="member3_bio" type="text" name="team[members][][bio]" />
  
  <input type="submit" value="Submit" id="submit">
=======
  <label for="hero1_name">Hero's Name:</label>
  <input id="hero1_name" type="text" name="team[members][][name]" />
  <label for="hero1_power">Hero's Power:</label>
  <input id="hero1_power" type="text" name="team[members][][power]" /> 
  <label for="hero1_bio">Hero's Biography:</label>
  <input id="hero1_bio" type="text" name="team[members][][bio]" />
  
  <h3>Hero 2</h3>
  <label for="hero2_name">Hero's Name:</label>
  <input id="hero2_name" type="text" name="team[members][][name]" />
  <label for="hero2_power">Hero's Power:</label>
  <input id="hero2_power" type="text" name="team[members][][power]" /> 
  <label for="hero2_bio">Hero's Biography:</label>
  <input id="hero2_bio" type="text" name="team[members][][bio]" />
  
  <h4>Hero 3</h4>
  <label for="hero3_name">Hero's Name:</label>
  <input id="hero3_name" type="text" name="team[members][][name]" />
  <label for="hero3_power">Hero's Power:</label>
  <input id="hero3_power" type="text" name="team[members][][power]" /> 
  <label for="hero3_bio">Hero's Biography:</label>
  <input id="hero3_bio" type="text" name="team[members][][bio]" />
  
  <input type ="submit" value="Submit">
>>>>>>> f2487f2951a8cc9db3ab59682e62e3dbd5a1b65e
  
</form>
